.cols {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(scopes(gutterY) * -1);
    margin-right: calc(scopes(gutterX) * -0.5);
    margin-left: calc(scopes(gutterX) * -0.5)
}
.cols > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(scopes(gutterX) * 0.5);
    padding-left: calc(scopes(gutterX) * 0.5);
    margin-top: var(--scope-gutterY, 0px)
}
.cols .col {
    flex: 1 0 0%
}