.tag {
    display: inline-flex;
    align-items: center;
    border-radius: 0.375rem;
    text-decoration: none;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #2f2f2f;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: bold;
    padding: 3px 10px;
    border: 1px solid #d9d9d9
}
.tag.groupItem:first-child {
    cursor: default
}
.tag.groupItem:last-child {
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer
}
.tag.groupItem svg {
    pointer-events: none
}
.tags {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem
}
.taggable {
    width: auto
}
.tagWrap {
    display: block;
    position: relative
}
.tagBackdrop {
    position: fixed;
    z-index: 74;
    inset: 0 3em 3em 0;
    width: 100vw;
    height: 100vh;
    display: none
}
.taggable.active .tagBackdrop {
    display: block
}
.input.tagToggler {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start
}
.tagInput {
    background-color: transparent;
    border-color: transparent;
    width: 100px;
    outline: 0
}
.tagContent {
    position: absolute;
    z-index: 75;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    width: 100%;
    border-radius: 0.375rem;
    overflow-y: auto;
    display: none;
    border-top-width: 0px;
    max-height: calc(10 * 36px)
}
.tagContent .tagItem {
    display: block;
    padding: 0.675rem 0.75rem;
    border-bottom: 1px solid #d9d9d9;
    text-decoration: none;
    color: #283541;
    cursor: pointer
}
.tagContent .tagItem:last-child {
    border-bottom: 0
}
.tagContent .tagItem:hover {
    background-color: #ededed
}
.taggable.active .input.tagToggler {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.taggable.active .tagContent {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: block
}
.badge {
    display: inline;
    margin-top: 0px;
    margin-left: 0.15rem;
    padding: 3px 7.5px;
    border-radius: 0.375rem;
    text-decoration: none;
    background-color: #283541;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold
}
.badgeTop {
    margin-top: -0.375rem
}
.badgeRound {
    border-radius: 99px
}
@media (prefers-color-scheme: dark) {
    .tag {
        background-color: #2f2f2f;
        color: #fff;
        border-color: #5f5f5f
    }
    .tagContent {
        background-color: #2f2f2f;
        border-color: #5f5f5f
    }
    .tagContent .tagItem {
        border-bottom-color: #5f5f5f;
        color: #f2f2f2
    }
    .tagContent .tagItem:hover {
        background-color: #242424
    }
}
@media (prefers-color-scheme: light) {
    html[data-mode=dark] .tag {
        background-color: #2f2f2f;
        color: #fff;
        border-color: #5f5f5f
    }
    html[data-mode=dark] .tagContent {
        background-color: #2f2f2f;
        border-color: #5f5f5f
    }
    html[data-mode=dark] .tagContent .tagItem {
        border-bottom-color: #5f5f5f;
        color: #f2f2f2
    }
    html[data-mode=dark] .tagContent .tagItem:hover {
        background-color: #242424
    }
}
@media (prefers-color-scheme: dark) {
    html[data-mode=light] .tag {
        background-color: #f2f2f2;
        color: #2f2f2f;
        border-color: #d9d9d9
    }
    html[data-mode=light] .tagContent {
        background-color: #fff;
        border-color: #d9d9d9
    }
    html[data-mode=light] .tagContent .tagItem {
        border-bottom-color: #d9d9d9;
        color: #283541
    }
    html[data-mode=light] .tagContent .tagItem:hover {
        background-color: #ededed
    }
}